# https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

# Used both for auth and saving user links
POSTGRES_URL=

https://github.com/settings/developers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# https://resend.com/api-keys
RESEND_API_KEY=

# Domain used when sending emails. Make sure it's the same as your actual website
YOUR_DOMAIN=example.com
