# https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=

# Used both for auth and saving user links
POSTGRES_URL=

# https://github.com/settings/developers
# Used for GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# https://resend.com/api-keys
RESEND_API_KEY=

# Domain used when sending emails. Make sure it's the same as your actual website
YOUR_DOMAIN=example.com

# Cloudflare R2 secrets
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_BUCKET= # Name of the bucket you created

# The custom domain you chose for Cloudflare R2
# This value is also used for the NextJS config to allow images from your domain
IMAGE_DOMAIN=https://example.com
